/* ------------------------------------------------------------------------------
    T E Y L E R S - T H E M E
--------------------------------------------------------------------------------- */

/* Menu */
.menu_wrapper {
	background-color: #d75745;
}

body.template-cart h1.documentFirstHeading {
    margin-bottom: 200px !important;
}


body.template-checkout h1.documentFirstHeading {
    margin-bottom: 200px !important;
}

body.template-cart #portal-logo img, body.template-checkout #portal-logo img {
    content: url('++resource++plonetheme.museumbase.css/teylers_black.png') !important;
}

#field-checkout-personal_data-phone {
	clear: both !important;
}

#form-checkout #field-checkout-billing_address-city,
#form-checkout #field-checkout-delivery_address-city {
	width: 275px;
}

#form-checkout #field-checkout-billing_address-city input,
#form-checkout #field-checkout-delivery_address-city input,
#field-checkout-personal_data-company input,
#field-checkout-personal_data-phone input,
#input-checkout-billing_address-street,
#input-checkout-billing_address-country,
#input-checkout-delivery_address-country,
#input-checkout-delivery_address-street {
	width: 100% !important;
}

#field-checkout-billing_address-country,
#field-checkout-delivery_address-country,
#input-checkout-bank_selection-bank,
#field-checkout-personal_data-company,
#field-checkout-personal_data-phone,
#form-checkout #field-checkout-billing_address-street,
#form-checkout #field-checkout-delivery_address-street {
	width: 418px;
}

#display-checkout-payment_selection-payment {
	display: none;
}

body.template-mollie_payment_success #portal-logo img {
    content: url('++resource++plonetheme.museumbase.css/teylers_black.png') !important;
}

div.shipping_costs_table td {
	text-align: left;
}

.template-cart #cart {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

div.table-inner-wrapper {
	padding-left: 8%;
	padding-right: 8%;
}

div.table_wrapper {
    background: #f5f5f5;
    padding-top: 50px;
    padding-bottom: 75px;
}

#cart div.table_wrapper th {
	background-color: #f5f5f5 !important;
}

div.table-inner-wrapper tbody tr:last-child td {
	border-bottom: 0px !important;
}

div.table-inner-wrapper tbody tr:last-child {
	border-bottom: 0px !important;
}

#cart.first-cart {
	padding-top: 0px !important;
}

div.tickets-breadcrumbs.shop {
	padding-left:8%; 
	padding-right:8%; 
	background:#f5f5f5; 
	padding-top: 30px; 
	padding-bottom: 30px;
}

div.shipping_costs_table {
	padding-top:75px;
}

td.quantity-col {
	width: 10%;
}

h2.pre-cart-text {
	text-align:left;
	font-size: 1.875em;
	padding-bottom:20px;
	padding-top:100px;
	font-weight: 700;
}

p.pre-cart-p {
	padding-bottom:20px;
	font-size: 1.100em;
}

td.cart-title-col {
	width: 50%;
}

td.shipping-col {
	width:50%; 
}

span.shipping_label,
span.shipping_description {
	/*font-size:1.00em !important;*/
}

h2.post-cart-title {
	text-align:left;
	font-size: 1.500em;
	padding-bottom:30px;
	font-weight: 700;
}

div.total-price-wrapper {
	padding-top:50px;
	text-align:left;
}

h2.total-price-label {
	font-size:1.875em; 
	padding-bottom:15px;
}

p.total_price-price {
	font-size:1.875em;
	font-weight:700;
	color:#666666;
}

.template-cart #cart .cart_item_content span:not(.price), .template-etickets #cart .cart_item_content span:not(.price), #cart .cart_item_content span:not(.price) {
    font-size: 1.125em !important;
}

#cart:not(.cart_tickets) #cart_items .cart_item_title {
	font-size: 1.350em !important;
	letter-spacing: 0.0em !important;
}

.template-cart #cart.cart_tickets {
	padding-left: 8% !important;
	padding-right: 8% !important;
}

#field-checkout-personal_data-company {
	display: none;
}

#field-checkout-personal_data-woonplaats {
	display: none;
}

.template-checkout div.tickets-breadcrumbs.shop {
	padding-left: 15%;
    padding-right: 15%;
}

#field-checkout-delivery_address-company {
	display: none;
}

#cart_no_items {
	background-color: #f5f5f5;
	padding-bottom: 50px;
}

#content-core .portletHeader {
    padding-top: 60px;
    padding-bottom: 55px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-left: 80px;
    padding-right: 80px;
}

#content-core .portletHeader h1 {
    margin-bottom: 35px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.250em;
    color: #999999;
    letter-spacing: 0.05em;
    margin: 0px;
    line-height: 35px;
}

#content-core .portletHeader h2 {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 3.125em;
    color: #d75745;
    margin: 0px;
    line-height: 75px;
    margin-top: 5px;
    text-transform: none !important;
}

#content-core div.portlet {
	background-color: inherit !important;
}

#content-core dl.portlet dt {
	background-color: inherit !important;
}

#content-core .portletStaticText .portletHeader span {
	font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.250em;
    color: #999999;
    letter-spacing: 0.05em;
    margin: 0px;
    line-height: 35px;
}

#content-core .portletStaticText dt.portletHeader {
	margin-top: 0px;
}

#content-core dl.portletStaticText,
#content-core div.portletStaticText {
	padding-bottom: 40px;
}

#content-core div.portletStaticText {
	padding-top: 50px;
}

#content-core .portletStaticText dd.portletItem {
	padding-top:0px !important;
}

#content-core dt.portletHeader.titleless {
	padding-top: 50px !important;
	padding-bottom: 0px !important;
}
/*#cart-page-header:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right,rgba(215,87,69,0.8),rgba(215,87,69,0.8));
    opacity: 0.7;
}*/

