/* ------------------------------------------------------------------------------
    T E Y L E R S - T H E M E
--------------------------------------------------------------------------------- */

/* Menu */
.menu_wrapper {
	background-color: #d75745;
}

body.template-cart h1.documentFirstHeading {
    margin-bottom: 200px !important;
}


body.template-checkout h1.documentFirstHeading {
    margin-bottom: 200px !important;
}

body.template-cart #portal-logo img, body.template-checkout #portal-logo img {
    
}

#field-checkout-personal_data-phone {
	clear: both !important;
}

#form-checkout #field-checkout-billing_address-city,
#form-checkout #field-checkout-delivery_address-city {
	width: 275px;
}

#form-checkout #field-checkout-billing_address-city input,
#form-checkout #field-checkout-delivery_address-city input,
#field-checkout-personal_data-company input,
#field-checkout-personal_data-phone input,
#input-checkout-billing_address-street,
#input-checkout-billing_address-country,
#input-checkout-delivery_address-country,
#input-checkout-delivery_address-street {
	width: 100% !important;
}

#field-checkout-billing_address-country,
#field-checkout-delivery_address-country,
#input-checkout-bank_selection-bank,
#field-checkout-personal_data-company,
#field-checkout-personal_data-phone,
#form-checkout #field-checkout-billing_address-street,
#form-checkout #field-checkout-delivery_address-street {
	width: 418px;
}

#display-checkout-payment_selection-payment {
	display: none;
}

body.template-mollie_payment_success #portal-logo img {
    
}

div.shipping_costs_table td {
	text-align: left;
}

.template-cart #cart {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

div.table-inner-wrapper {
	padding-left: 8%;
	padding-right: 8%;
}

div.table_wrapper {
    background: #f5f5f5;
    padding-top: 50px;
    padding-bottom: 75px;
}

#cart div.table_wrapper th {
	background-color: #f5f5f5 !important;
}

div.table-inner-wrapper tbody tr:last-child td {
	border-bottom: 0px !important;
}

div.table-inner-wrapper tbody tr:last-child {
	border-bottom: 0px !important;
}

#cart.first-cart {
	padding-top: 0px !important;
}

div.tickets-breadcrumbs.shop {
	padding-left:8%; 
	padding-right:8%; 
	background:#f5f5f5; 
	padding-top: 30px; 
	padding-bottom: 30px;
}

div.shipping_costs_table {
	padding-top:75px;
}

td.quantity-col {
	width: 10%;
}

h2.pre-cart-text {
	text-align:left;
	font-size: 1.875em;
	padding-bottom:20px;
	padding-top:100px;
	font-weight: 700;
}

p.pre-cart-p {
	padding-bottom:20px;
	font-size: 1.100em;
}

td.cart-title-col {
	width: 50%;
}

td.shipping-col {
	width:50%; 
}

span.shipping_label,
span.shipping_description {
	/*font-size:1.00em !important;*/
}

h2.post-cart-title {
	text-align:left;
	font-size: 1.500em;
	padding-bottom:30px;
	font-weight: 700;
}

div.total-price-wrapper {
	padding-top:50px;
	text-align:right;
	padding-bottom: 20px;
}

h2.total-price-label {
	font-size:1.875em; 
	padding-bottom:15px;
}

p.total_price-price {
	font-size:1.875em;
	font-weight:700;
	color:#666666;
}

.template-cart #cart .cart_item_content span:not(.price), .template-etickets #cart .cart_item_content span:not(.price), #cart .cart_item_content span:not(.price) {
    font-size: 1.125em !important;
}

#cart:not(.cart_tickets) #cart_items .cart_item_title {
	font-size: 1.350em !important;
	letter-spacing: 0.0em !important;
}

.template-cart #cart.cart_tickets {
	padding-left: 8% !important;
	padding-right: 8% !important;
}

#field-checkout-personal_data-company {
	display: none;
}

#field-checkout-personal_data-woonplaats {
	display: none;
}

.template-checkout div.tickets-breadcrumbs.shop {
	padding-left: 15%;
    padding-right: 15%;
}

#field-checkout-delivery_address-company {
	display: none;
}

#cart_no_items {
	background-color: #f5f5f5;
	padding-bottom: 50px;
}

#content-core .portletHeader {
    padding-top: 60px;
    padding-bottom: 55px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-left: 80px;
    padding-right: 80px;
}

#content-core .portletHeader h1 {
    margin-bottom: 35px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.250em;
    color: #999999;
    letter-spacing: 0.05em;
    margin: 0px;
    line-height: 35px;
}

#content-core .portletHeader h2 {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 3.125em;
    color: #d75745;
    margin: 0px;
    line-height: 75px;
    margin-top: 5px;
    text-transform: none !important;
}

#content-core div.portlet {
	background-color: inherit !important;
}

#content-core dl.portlet dt {
	background-color: inherit !important;
}

#content-core .portletStaticText .portletHeader span {
	font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.250em;
    color: #999999;
    letter-spacing: 0.05em;
    margin: 0px;
    line-height: 35px;
}

#content-core .portletStaticText dt.portletHeader {
	margin-top: 0px;
}

#content-core dl.portletStaticText,
#content-core div.portletStaticText {
	padding-bottom: 40px;
}

#content-core div.portletStaticText {
	padding-top: 50px;
}

#content-core .portletStaticText dd.portletItem {
	padding-top:0px !important;
}

#content-core dt.portletHeader.titleless {
	padding-top: 50px !important;
	padding-bottom: 0px !important;
}

div.buyable dd.price {
	float: left;
	padding-top: 5px;
}

div.buyable dd.price h2 {
	color: #333333;
	font-size: 1.875em !important;
}

div.buyable dl.details {
	width: 100%;
	padding-top: 40px;
	border-top: 1px solid #f5f5f5;
}

div.buyable dl.details dt.quantity {
	display: none;
}

div.buyable dl.details dd.quantity input {
	height: 40px;
	width: 70px;
}

div.buyable {
	padding-bottom: 100px !important;
}

div.buyable a.buyable_update_cart.buy_now_item {
	padding: 2px 12px !important;
    line-height: 37px !important;
}

div.buyable .change {
    float: right;
    width: 20px;
    height: 40px;
    background-color: #f5f5f5;
    margin-left: 0px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #f5f5f5;
}

div.buyable .change a.up {
    background-position: 0px 0px;
}

div.buyable .change a {
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    text-indent: -9999px;
    background-color: #f5f5f5;
    background: url("++resource++plonetheme.tm.css/quantity.png") no-repeat;
    border-right: 1px solid #f5f5f5;
}

div.buyable dt.vat {
	display: inline-block !important;
    float: left;
    padding-top: 16px;
    color: #999999;
    font-weight: 400;
}

div.buyable .change a:hover {
	background-color: #DDD;
}


div.buyable .change a.down {
    background-position: 0px -20px;
}

#tag-checkout-billing_address-heading {
	clear: both !important;
    padding-top: 20px !important;
}

#form-checkout #field-checkout-personal_data-country {
	clear: both !important;
}

div.overlay-terms-and-condition div.pb-ajax {
	background-color: #ffffff !important;
}

body.template-etickets_view #content .documentFirstHeading, body.portaltype-portlet-page #content .documentFirstHeading, body.template-content_view #content .documentFirstHeading {
    background: transparent;
    /* position: absolute; */
    /* top: 260px; */
    width: 100%;
    z-index: 3;
    padding-top: 260px !important;
    margin-bottom: 20px !important;
    color: #ffffff !important;
}

body.template-content_view #content .documentDescription.description, body.template-content_view #content .documentDescription {
    /* position: absolute; */
    /* top: 330px; */
    width: 100%;
    background: none !important;
    z-index: 3 !important;
    margin-top: 0px !important;
    padding-bottom: 0px !important;
    color: #ffffff !important;
}



a.advanced-search {
	display: none;
}

body.template-cart h1.documentFirstHeading,
body.template-checkout h1.documentFirstHeading {
	margin-bottom: 0px !important;
	padding-bottom: 200px !important;
}

select.cart_item_count {
	-moz-appearance: none !important;
    text-indent: 0.01px !important;
    text-overflow: '' !important;
    overflow:hidden;
}

.template-cart #cart .cart_item_count {
	text-align: left;
}

#cart .cart-select-box::after 
{
	pointer-events:none;
}

.cart_item_count option {
	background-color: #f5f5f5 !important;
}

body {
	font-smoothing: antialiased;
}

div.buyable .cart-select-box {
    position: relative;
    display: inline-block;
}

div.buyable .cart_item_count {
    text-align: left;
}

div.buyable .cart_item_count {
    text-align: left;
    font-family: 'Merriweather', serif;
    font-weight: 400;
}

.cart_item_count 
{
	cursor: pointer;
}

body.portaltype-product #portal-logo img:after {
    content: url("++resource++plonetheme.museumbase.css/teylers_black.png") !important;
}

div.buyable select 
{
	vertical-align: middle !important;
}

/* MEDIA QUERIES */
@media (max-width: 991px) and (min-width: 768px) {
	body.template-content_view #content .documentFirstHeading {
	    padding-top: 100px !important;
	    padding-left: 60px !important;
	}
}

@media (max-width: 991px) and (min-width: 768px) {
	body.template-content_view #content .documentDescription.description, body.template-content_view #content .documentDescription {
	    /* margin-top: 150px; */
	    padding-left: 60px;
	}

	body.template-cart #cart {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}

	h2.pre-cart-text {
		padding-top: 50px;
	}

	div.shipping_costs_table {
		padding-top: 20px;
	}

	.price-th,
	.price-col span {
		text-align: right;
	}

	td.price-col {
		text-align: right !important;
		padding-right: 0px;
	}

}

@media (max-width: 767px) and (min-width: 481px) {
	body.template-content_view #content .documentFirstHeading {
	    padding-top: 100px !important;
	    padding-left: 80px;
	}

	div.buyable select.cart_item_count {
		width: 65px !important;
	}

	#cart select {
		width: 65px !important;
	}

	body.template-cart #cart {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}

	div.buyable .price-th,
	div.buyable .price-col {
		text-align: right;
	}

	h2.pre-cart-text {
		padding-top: 50px;
	}

	div.shipping_costs_table {
		padding-top: 20px;
	}

	.price-th,
	.price-col span {
		text-align: right;
	}

	td.price-col {
		text-align: right !important;
		padding-right: 0px;
	}
}

@media (max-width: 480px) {
	body.template-content_view #content .documentFirstHeading {
	    padding-top: 70px !important;
	    padding-left: 50px;
	}

	div.buyable .cart-select-box {
		display: block;
		clear: both;
	}

	div.buyable .cart-select-box select {
		width: 100% !important;
	}

	div.buyable a.buy_now_item {
		width: 100%;
		margin-left: 0px;
		margin-top: 10px;
	}

	div.buyable dd.price {
		padding-bottom: 30px;
	}

	body.template-cart #cart {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}

	.price-th,
	.price-col span {
		text-align: right;
	}

	h2.pre-cart-text {
		padding-top: 50px;
	}

	div.shipping_costs_table {
		padding-top: 20px;
	}
	td.price-col {
		text-align: right !important;
		padding-right: 0px;
	}
}

div.buyable select {
	display: none !important;
}

body.template-edit #content-view-portlets {
	/*display: none !important;*/
}

body.template-folder_contents #content-view-portlets {
	/*display: none !important;*/
}

#viewlet-below-content-body #content-core {
	padding-bottom: 0px !important;
}

#content-view-portlets a.managePortletsFallback {
    width: 25%;
    color: #D75745 !important;
    font-size: 0.875em !important;
    font-family: 'Merriweather', serif !important;
    font-weight: 400;
}

dl.details {
	cursor: auto;
}

dd.price {
	cursor: text;
}

dd.price h2 {
	cursor: text;
}

dt.vat {
	cursor: text;
}

div.buyable {
	cursor: auto !important;
}

body.template-edit.portaltype-object {
	background-color: #ffffff !important;
}

body.template-edit.portaltype-object input {
	width: 100%;
}

body.template-edit.portaltype-object fieldset {
	padding-top: 30px;
}

body.template-edit.portaltype-object #form {
	padding-bottom: 50px;
}

#formfield-form-widgets-priref {
	display: none !important;
}

#parent-fieldname-text iframe {
	max-width: 100%;
}


body.no-img-slideshow.template-view.portaltype-object.subsection-boeken-new-32f-20-journal-of-a-voyage-to-the-south-seas-in-his-majestys-ship-the-endeavour-faithfully-transcribed-from-the-papers-of-the-late-sydney-parkinson-draughtsman-to-sir-joseph-banks-in-his-expedition-with-dr-solander-round-the-world #edit-content-views {
    padding-top: 600px !important;
}

body[class^="template-content"] #content-core #parent-fieldname-text-dates > * {
    font-family: 'Merriweather', serif !important;
    font-weight: 700 !important;
    font-size: 1.875em;
    line-height: 40px;
    color: #D75745 !important;
}

@media (max-width: 480px) {
	body.template-collection_view #content .documentFirstHeading, body.portaltype-portlet-page #content .documentFirstHeading, body.template-etickets_view #content .documentFirstHeading {
    	padding-top: 100px !important;
	}
}

@media (max-width: 767px) and (min-width: 481px) {
	body.template-collection_view #content .documentFirstHeading, body.portaltype-portlet-page #content .documentFirstHeading, body.template-etickets_view #content .documentFirstHeading {
    	padding-top: 100px !important;
	}
}

@media (max-width: 991px) and (min-width: 768px) {
	body.template-collection_view #content .documentFirstHeading, body.portaltype-portlet-page #content .documentFirstHeading, body.template-etickets_view #content .documentFirstHeading {
    	padding-top: 160px !important;
	}
}

@media (max-width: 1199px) and (min-width: 992px) {
	body.template-collection_view #content .documentFirstHeading, body.template-etickets_view #content .documentFirstHeading, body.portaltype-portlet-page #content .documentFirstHeading, body.template-content_view #content .documentFirstHeading {
		padding-top: 198px !important;
	}
}

@media (max-width: 991px) and (min-width: 768px) {
	#parent-fieldname-title, .documentFirstHeading {
	    padding-left: 45px !important;
	}
}


@media (max-width: 991px) and (min-width: 768px) {
	#parent-fieldname-description, .documentDescription {
    	padding-left: 45px !important;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
	body.template-content_view #content .documentDescription.description, body.template-content_view #content .documentDescription {
	    padding-left: 60px !important;
	}
}

/*#cart-page-header:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right,rgba(215,87,69,0.8),rgba(215,87,69,0.8));
    opacity: 0.7;
}*/

